.myheader{
    text-align: center;
    font-size: 30px;
    font-family: Cambria;
    color: red;
}

.mydata{
    font-size: 20px;
    font-family: Cambria;
    margin-left: 10px;
    
}

table{
    width: 100%;
    border: 1px solid cadetblue;
    border-collapse: collapse;
}
tr,td,th{
    border: 1px solid cadetblue;
    border-collapse: collapse;
    line-height: 1.5em;
    text-align: center;
}

th{
    color: white;
    background-color: teal;
}

.mybutton{
    color: white;
    background-color: tomato;
}